---
import { db, Todos } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import TodosComponent from '../components/todos.vue';

const todos = await db.select().from(Todos);
---

<Layout>
	<div class="wrapper flow">
		<h1>Groceries</h1>
		<TodosComponent 
			client:load
			initialTodos={todos} />
	</div>
</Layout>


<script>
	import { actions } from 'astro:actions';
    document.addEventListener('checkedChange', async (event: Event) => {
        const customEvent = event as CustomEvent<{ id: number; checked: boolean }>;
        const { id, checked } = customEvent.detail;
        console.log(`Todo with ID ${id} changed to ${checked}`);
		const { data, error } = await actions.updateTodo({ id, checked });
		if(error) console.log(error);
    });
	document.addEventListener('todoAdded', async (event: Event) => {
        const customEvent = event as CustomEvent<{ id: number; name: string }>;
        const { id, name } = customEvent.detail;
        console.log(`Todo with ID ${id} and name ${name} was added`);
		const { data, error } = await actions.addTodo({ id, name });
		if(error) console.log(error);
    });
	document.addEventListener('todoDeleted', async (event: Event) => {
        const customEvent = event as CustomEvent<{ id: number }>;
        const { id } = customEvent.detail;
        console.log(`Todo with ID ${id} was deleted`);
		const { data, error } = await actions.deleteTodo({ id });
		if(error) console.log(error);
    });
</script>
</script>